<a href="https://colab.research.google.com/github/vrishs/vrishs.github.io/blob/main/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ranking=pd.read_html('https://en.wikipedia.org/wiki/Premier_League')

In [ ]:
ranking[7].info

<bound method DataFrame.info of                 Club  Titles  \
0  Manchester United      13
1    Manchester City       6
2            Chelsea       5
3            Arsenal       3
4   Blackburn Rovers       1
5     Leicester City       1
6          Liverpool       1

                                     Winning seasons
0  1992–93, 1993–94, 1995–96, 1996–97, 1998–99, 1...
1  2011–12, 2013–14, 2017–18, 2018–19, 2020–21, 2...
2        2004–05, 2005–06, 2009–10, 2014–15, 2016–17
3                          1997–98, 2001–02, 2003–04
4                                            1994–95
5                                            2015–16
6                                            2019–20  >

In [ ]:
ranking[7]

,Club,Titles,Winning seasons
0,Manchester United,13,"1992–93, 1993–94, 1995–96, 1996–97, 1998–99, 1..."
1,Manchester City,6,"2011–12, 2013–14, 2017–18, 2018–19, 2020–21, 2..."
2,Chelsea,5,"2004–05, 2005–06, 2009–10, 2014–15, 2016–17"
3,Arsenal,3,"1997–98, 2001–02, 2003–04"
4,Blackburn Rovers,1,1994–95
5,Leicester City,1,2015–16
6,Liverpool,1,2019–20

In [ ]:
ranking1= ranking[7].drop('Winning seasons', axis=1)

In [ ]:
ranking1

                Club  Titles
0  Manchester United      13
1    Manchester City       6
2            Chelsea       5
3            Arsenal       3
4   Blackburn Rovers       1
5     Leicester City       1
6          Liverpool       1

In [ ]:
exported_values = list(ranking1.T.to_dict().values() )

In [ ]:
import csv

In [ ]:
open('ranking.json','w').write( json.dumps(exported_values) )

275